body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


img{
    width: 500px;
    height: auto;
}


.first,
.second{
    background-color: #1F2936;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 12%;
    padding-right: 12%;
    width: auto;
    align-items: center;
    color: #F9FAF8;
}


.first{
    height: 40px;
}


.second{
    height: 400px;
}


.first-left{
    font-size: 24px;
    font-weight: 700;
}


.first-right{
    display: flex;
    width: 30%;
    justify-content: space-between;
}


a{
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}


.second-left{
    display: flex;
    flex-direction: column;
    width: 30%;
}


.second-left .header{
    font-size: 48px;
    font-weight: bold;
}


.second-left .not-header{
    font-size: 18px;
}


.second-left button{
    background-color: #3882F6;
    width: 30%;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 7px;
    color: #F9FAF8;
}


.third{
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    height: 350px;
    justify-content: flex-start;
}


.third-up{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    padding: 25px;
}


.third-down{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}


.third-down-item{
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-text{
    font-size: 24px;
    text-align: center;
}


.forth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 375px;
    background-color: #E5E7EB;
    align-items: center;
}


.forth-quote{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    max-width: 70%;
}


.forth-quoter{
    font-size: 24px;
    font-weight: bold;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}


.fifth{
    display: flex;
    background-color: #3882F6;
    margin: 100px auto;
    justify-content: space-around;
    max-width: 80%;
    padding: 50px;
    border-radius: 20px;
}


.fifth-left{
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}


.fifth-left-first{
    font-size: 28px;
    font-weight: 700;
}


.fifth-left-right{
    font-size: 24px;
}


.fifth-right{
    background-color: #3882F6;
    width: 10%;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 7px;
    border: 3px solid #E5E7EB;
    color: #E5E7EB;
}